<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        color: #333333;
        background-color: #ffffff;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        padding: 40px;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
      }

      .heading-primary {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 20px;
        color: royalblue;
      }

      .heading-secondary {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 20px;
        color: #707070;
      }

      .paragraph {
        margin-bottom: 20px;
        color: #666666;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: royalblue;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 40px;
      }

      .highlight {
        color: royalblue;
        font-weight: bold;
      }

      .footer {
        font-size: 12px;
        margin: 0;
        color: #666666;
        margin-top: 20px;
      }

      .footer span {
        color: royalblue;
        font-weight: bold;
      }

      .footer span:not(:last-child) {
        font-weight: normal;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 class="heading-primary"><%= appName %></h1>
      <h2 class="heading-secondary">Password Reset Request</h2>
      <p class="paragraph">Hello <%= username %>,</p>
      <p class="paragraph">
        You are receiving this email because you have requested a password reset
        for your <%= appName %> account. This link will be valid for the next 24
        hours:
      </p>
      <a href="<%= url %>" class="button">Reset Password</a>
      <p class="paragraph">
        If you did not make this request, you can safely ignore this email.
      </p>
      <p class="paragraph">
        Thank you for using <span class="highlight"> <%= appName %> </span>!
      </p>
      <p class="footer">This link will expire in 24 hours.</p>
    </div>
  </body>
</html>
